.menu-up-wrapper {
  background-color: #3B3B3B;
}

.up-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.up-menu__logo {
  margin-right: 30px;
}

.up-menu__time-work {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}

.up-menu__time-work span {
  margin-left: 10px;
}

.up-menu__phone {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-right: -40px;
}

.up-menu__phone-phone {
  color:#FFF;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.111;
}

.up-menu__phone-order-call {
  color: #FC573B;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  text-decoration-line: underline;
}

.cart__wrapper {
  display: flex;
  align-items: center;
}

.cart__info-w {
  margin-left: 16px;
  color: #FFF;
  font-size: 16px;
  line-height: 1.25;
}

.cart__info-desc {
  font-weight: 500;
  margin-bottom: 4px;
}


.menu-up-wrapper {
  background-color: #3B3B3B;
}

.up-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.up-menu__logo {
  margin-right: 30px;
}

.up-menu__time-work {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}

.up-menu__time-work span {
  margin-left: 10px;
}

.up-menu__phone {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-right: -40px;
}

.up-menu__phone-phone {
  color:#FFF;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.111;
}

.up-menu__phone-order-call {
  color: #FC573B;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  text-decoration-line: underline;
}

.cart__wrapper {
  display: flex;
  align-items: center;
}

.cart__info-w {
  margin-left: 16px;
  color: #FFF;
  font-size: 16px;
  line-height: 1.25;
}

.cart__info-desc {
  font-weight: 500;
  margin-bottom: 4px;
}

.cart__info-sum {
  font-weight: 700;
}