.cart {
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  width: 310px;
  height: 340px;
}

.cart__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 5px;
}

.cart__header-promo {
  padding: 4px 6px;
  font-family: Raleway;
  font-size: 14px;
  line-height: 1.14;
  color: #fff ;
  background-color: #180A3E;
}

.cart__header-icon {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.cart__img {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.cart__img-slider {
  display: flex;
  justify-content: space-between;
  margin: 12px 0 14px;
}

.slide {
  width: 69px;
  height: 2px;
  background-color: #DEDBDB;
}

.slide.active {
  background-color: #FFB78B;
}

.cart__info {
  max-width: 230px;
}

.cart__info-title {
  display: inline-block;
  color:  #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 12px;
}

.sale-info {
  display: flex;
  align-items: center;
}

.sale-info__price {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  margin-right: 10px;
}

.sale-info__promo {
  color:  #DEDBDB;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  text-decoration-line: strikethrough;
  margin-right: auto;
}

.sale-info__is-have {
  padding-left: 20px;
  color: #126935;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  position: relative;
}

.sale-info__is-have::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url('./../../../img/check.svg');
  background-repeat: no-repeat;
  background-size: contain;
}