.promo {
  padding: 20px 0;
  background-color: #212526;
}

.promo__column {
  display: flex;
  gap: 20px;
}

.promo {
  padding: 20px 0;
  background-color: #212526;
}

.promo__column {
  display: flex;
  gap: 20px;
}

.promo__stock {
  position: relative;
  border-radius: 5px;
}

.promo__stock-row {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.promo__stock::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
}

.promo__stock-title-big {
  color: #FFF;
  position: absolute;
  top: 32px;
  left: 32px;
  font-family: Prosto One;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  z-index: 2;
}

.promo__stock-title {
  position: absolute;
  top: 16px;
  left: 16px;

  color: #FFF;
  font-family: Prosto One;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;

  z-index: 2;
}

.promo__stock-big-btn {
  position: absolute;
  z-index: 5;

  top: 267px;
  left: 24px;
}